{{ if .IsPage }}
  {{ if or ( .NextInSection ) ( .PrevInSection ) }}
<nav>
<ul class="list-inline">
    {{ if .PrevInSection }}
<li class="list-inline-item">
          <a class="page-link" href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">
            <span aria-hidden="true">&laquo&nbsp;</span>{{ i18n "previous" }}
          </a>
        </li>
    {{end}}
</li>

    {{ if .NextInSection }}
<li class="list-inline-item">
        <a class="page-link" href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">
            {{ i18n "next" }} <span aria-hidden="true">&nbsp&raquo;</span>
        </a>
      </li>
    {{end}}
    </ul> 
    
</nav>
  {{ end }}
{{ end }}
