<div class="list-group">
  {{ if and .IsPage (eq .Params.toc true) }}
  <div class="list-group-item">
    <h5 class="list-group-item-heading">TableOfContents></h5>
    <p class="list-group-item-text">{{ .TableOfContents }}</p>
   </div>
    {{ end }}

  <div class="list-group-item active">
	  <h4 class="list-group-item-heading"><b>{{ i18n "latestposts" }}</b></h4>

	{{ range first 5 (where (where .Site.Pages "Type" "post") "IsPage" true) }}
	<p class="list-group-item-text"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
        {{ end }}
  </div>

    {{ range $key, $value := .Site.Taxonomies }}
      {{ $len := len $value }}
      {{ if (not ( eq $len 0 ) ) }}

  <div class="list-group-item">
	<h4 class="list-group-item-heading"><b>{{ $key | singularize | humanize }}</b></h4>
	{{ range first 5 $value.ByCount }}
	<p class="list-group-item-text"><a href="{{$.LanguagePrefix }}/{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></p>
	{{ end }}
	{{ end }}
  </div> 
    {{ end }}
</div>
