  <div class="container">


	 <!-- 

    {{ if .Site.Params.showBlogHeader }}


      <div class="row">
        <header>
          {{ partial "content/h1-title.html" . }}
          {{ partial "content/lastupdate.html" . }}
        </header>
      </div>
    {{ end }}


	 -->


<div class="row">
	<div class="col-sm-{{ if .Site.Params.showRightSidebar }}9{{ else }}12{{ end }}">
        		{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        		{{ range $paginator.Pages }}
        	<div class="card border-secondary">
        	<div class="card-body ">
          			{{ .Render "summary" }}
		</div>
		</div>
        		{{ end }}
        	{{ partial "content/pagination.html" . }}
      </div>

      {{ if .Site.Params.showRightSidebar }}
       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          {{ partial "content/sidebar.html" . }}
       </div>
      {{ end }}
</div>


</div>
